@model (IEnumerable<SummaryPostViewModel> Posts, string EditAction)

@foreach (var post in Model.Posts)
{
    <div class="card w-75">
        <div class="card-body">
            @if (User.IsWriter() && Model.EditAction == "Pending")
            {
                <h5 class="card-title">@post.Title</h5>
            }
            else
            {
                <a asp-controller="Posts" asp-action="@Model.EditAction" asp-route-Id="@post.Id">
                    <h5 class="card-title">@post.Title</h5>
                </a>
            }

            <p class="card-text">@post.ShortDescription</p>
        </div>
        @if (post.PublishedOn.HasValue)
        {
            <div class="card-footer text-muted">
                @post.PublishedOn?.ToShortDateString()
            </div>
        }
    </div>
    <br />
}